Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-identifier-length,
WarningsAsErrors: >
  clang-analyzer-core-*,
  cppcoreguidelines-no-malloc,
  bugprone-unchecked-optional-access,
  bugprone-sizeof-expression,
HeaderFilterRegex:  'src/.*\.h(pp)?'
CheckOptions:
  readability-identifier-naming.CaseSensitive:           1
  readability-identifier-naming.ClassCase:               CamelCase
  readability-identifier-naming.StructCase:              CamelCase
  readability-identifier-naming.EnumCase:                CamelCase
  readability-identifier-naming.FunctionCase:            camelBack
  readability-identifier-naming.ParameterCase:           camelBack
  readability-identifier-naming.VariableCase:            camelBack
  readability-identifier-naming.ConstantCase:            UPPER_CASE
  readability-identifier-naming.MemberCase:              camelBack
  readability-identifier-naming.MemberSuffix:            M
  readability-identifier-naming.ParameterSuffix:         P
  readability-identifier-naming.StaticSuffix:            S
  readability-identifier-naming.GlobalSuffix:            G
  readability-identifier-naming.PrefixIdentifier:        1
  readability-function-cognitive-complexity.Threshold:   25
  readability-function-size.LineThreshold:               70
